@tailwind base;
@tailwind components;

@media (prefers-color-scheme: light) {

	html,
	body {
		@apply bg-colorBackgroundLight text-colorOnBackgroundLight;
		margin: 0;
		position: absolute;
		height: 100%;
		width: 100vw;
		overflow-x: hidden;
		font-family: "Product Sans", sans-serif;
	}
}

@media (prefers-color-scheme: dark) {

	html,
	body {
		@apply bg-colorBackgroundDark text-colorOnBackgroundDark;
		margin: 0;
		position: absolute;
		height: 100%;
		width: 100vw;
		overflow-x: hidden;
		font-family: "Product Sans", sans-serif;
	}
}

@tailwind utilities;

.noSelect {
	-webkit-tap-highdark-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.noSelect:focus {
	outline: none !important;
}