@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
	@apply
   h-full w-full flex flex-col pt-16
   bg-colorBackground-light
   bg-gradient-to-r from-colorSurface-light to-colorPrimary-dark
   text-colorOnBackground-light
   dark:bg-colorBackground-dark
   dark:text-colorOnBackground-dark;
}
.App-header {
	@apply fixed top-0 left-0 right-0;
}

.mdi-toolbar {
	@apply min-h-fit w-full p-2
   flex content-center  
   bg-colorSurface-light 
   text-colorOnSurface-light 
   dark:bg-colorSurface-dark
   dark:text-colorOnSurface-dark;
}
.mdi-icon {
	@apply h-10 w-10 p-2 mr-2 
  fill-colorOnSurface-light 
  dark:fill-colorOnSurface-dark;
}